.button {
    display: inline-block;
    padding: 0 26px;
    background-color: var(--color-blue);
    color: var(--color-surface);
    font-weight: var(--font-weight-medium);
    border-radius: var(--radius-md);
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.button--secondary {
    background: #EAEAEA;
    color: var(--color-primary);
}

.button--light-blue {
    background: var(--color-light-blue);
    color: var(--color-blue);
}

.button--full {
    width: 100%;
}

.button--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    line-height: 1;
}

.button--lg {
    height: 48px;
    line-height: 1;
}

.button--green {
    background: #1fd270;
}

.button:disabled,
.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .button {
        padding: 0 12px;
    }
}
