.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: max-content;
}

.checkbox input {
    display: none;
}

.checkbox__box {
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.checkbox input:checked + .checkbox__box::after {
    content: url("../../images/checkbox-icon.svg");
    width: 6px;
    height: 4px;
}


.checkbox input:checked + .checkbox__box{
    background: var(--color-blue);
    line-height: 0;
    border: 1px solid var(--color-blue);
}

.checkbox__text {
    font-size: var(--font-size-xs);
}