.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: max-content;
}

.checkbox input {
    display: none;
}

.checkbox__box {
    width: 18px;
    height: 18px;
    border: 1px solid #101f2f;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.checkbox__box::after {
    content: "";
    width: 4px;
    height: 8px;
    border: solid var(--color-primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    transition: 0.2s;
}


.checkbox input:checked + .checkbox__box::after {
    transform: rotate(45deg) scale(1);
}

.checkbox__text {
    font-size: 12px;
}