.overlay {
    position: fixed;
    height: 100dvh;
    inset: 0;
    background: rgba(0, 35, 78, 0.15);
    z-index: 120;
    overflow-y: auto;
    display: none;
    padding: 50px 32px
}

.overlay--active {
    display: flex
}

.modal {
    max-width: 450px;
    width: 100%;
    display: none;
    margin: auto;
    border-radius: var(--radius-md);
    opacity: 0;
    transform: scale(.7);
    transition: opacity 0.2s ease, transform 0.2s ease;
    position: relative;
    padding: 30px;
    background: var(--color-bg);
}

.modal--white {
    background: var(--color-surface);
}

.modal .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
}


.modal--active {
    display: block
}

.modal--showed {
    opacity: 1;
    transform: scale(1)
}


@media (max-width: 480px) {
    .overlay {
        background: var(--color-bg) ;
        padding: 0;
        overflow: hidden;
    }
    .overlay  .modal.modal {
        overflow: auto;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }
    .modal__back {
        display: flex;
    }
    
    .modal__back + .modal__close {
        display: none;
    }
}

