.overlay {
    position: fixed;
    height: 100dvh;
    inset: 0;
    background: rgba(0, 35, 78, 0.15);
    z-index: 150;
    overflow-y: auto;
    display: none;
    padding: 50px 32px
}

.overlay--active {
    display: flex
}

.modal {
    display: none;
    margin: auto;
    border-radius: var(--radius-md);
    opacity: 0;
    transform: scale(.7);
    transition: opacity 0.2s ease, transform 0.2s ease;
    position: relative;
    padding: 30px;
    background: var(--color-bg);
}

.modal .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal--active {
    display: block
}

.modal--showed {
    opacity: 1;
    transform: scale(1)
}
