.radio-input input {
    display: none;
}

.radio-input span {
    display: block;
    padding: 16px 22px;
    border-radius: var(--radius-md);
    background: var(--color-surface);
    box-shadow: var(--shadow);
}

.radio-input input:checked + span {
    background: var(--color-blue);
    color: var(--color-surface);
}