.select {
    position: relative;
    width: 100%;
}

.select__trigger {
    width: 100%;
    height: 51px;
    padding: 0 22px;
    box-shadow: var(--shadow);
    background: var(--color-surface);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select--gray .select__trigger {
    background: var(--color-bg);
    box-shadow: none;
}


.select__dropdown {
    position: absolute;
    max-height: 306px;
    overflow-y: auto;
    top: calc(100% + 10px);
    left: 0;
    width: auto;
    min-width: 100%;
    background: var(--color-surface);
    box-shadow: var(--shadow);
    border-radius: var(--radius-md);
    opacity: 0;
    visibility: hidden;
    z-index: 30;
    pointer-events: none;
}

.select--gray .select__dropdown {
    background: var(--color-bg);
    box-shadow: none;
}

.select.select--active .select__dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
}

.select__option {
    width: 100%;
    padding: 16px 22px;
    cursor: pointer;
    text-align: start;
    display: flex;
    gap: 10px;
    align-items: center;

}

.select__option-label {
    flex: 1 1 auto;
    min-width: 0;
}

.select__option-check {
    margin-left: auto;
    flex: 0 0 auto;
    opacity: 0;
    pointer-events: none;
}

.select__option[aria-selected="true"] .select__option-check {
    opacity: 1;
}

.select--with-icon .select__trigger {
    gap: 10px;
    justify-content: normal;
}

.select--with-icon .select__trigger svg:last-child {
    margin-left: auto;
}

.select.select-error .select__trigger,
.select.select-error .select__empty-trigger {
    outline: 1px solid var(--color-danger);
    outline-offset: -1px;
}
